/***********
painting
************/
.contain2 canvas {
  background: #f0f8ff;
  display: block;
  margin: 50px auto 10px;
  border: 1px grey solid;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #222;
  cursor: url(../DataBase/images/cursor.png), crosshair; }

.controls {
  min-height: 60px;
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  overflow: hidden; }

.contain2 ul {
  list-style: none;
  margin: 0;
  float: left;
  padding: 10px 0 20px;
  width: 100%;
  text-align: center; }

.contain2 ul li, #newColor {
  display: block;
  height: 54px;
  width: 54px;
  border-radius: 60px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 3px 0 0 #222; }

.contain2 ul li {
  display: inline-block;
  margin: 0 5px 10px; }

.red {
  background: #fc4c4f; }

.blue {
  background: #4fa3fc; }

.yellow {
  background: #ECD13F; }

.selected {
  border: 7px solid #fff;
  width: 40px;
  height: 40px; }

.contain2 button {
  background: #68B25B;
  box-shadow: 0 3px 0 0 #6A845F;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-shadow: 0 1px #6A845F;
  display: block;
  font-size: 16px;
  line-height: 40px; }

#revealColorSelect {
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px 20px;
  width: 160px; }

/* New Color Palette */
#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 10px;
  width: 305px;
  position: relative;
  display: none; }

#colorSelect:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }

#newColor {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  box-shadow: none;
  float: left;
  border: none;
  margin: 10px 20px 20px 10px; }

.sliders p {
  margin: 8px 0;
  vertical-align: middle; }

.sliders label {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 35px;
  font-size: 14px;
  color: #6D574E; }

.sliders input {
  position: relative;
  top: 2px; }

#colorSelect button {
  border: none;
  border-top: 1px solid #6A845F;
  border-radius: 0 0 5px 5px;
  clear: both;
  margin: 10px -10px -7px;
  padding: 5px 10px;
  width: 325px; }

/*.center {
    text-align: center;
    justify-content: center;
}*/
h2 {
  margin-left: 25px; }

input[type="checkbox"] {
  font-size: 50px;
  transform: scale(2, 2); }

.username {
  font-family: 'Lora', serif;
  font-weight: bold; }

.pdf {
  position: relative; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.containertext {
  display: flex;
  /*flex-flow: row nowrap;*/
  flex-direction: row;
  /*justify-content: flex-start;*/
  overflow: auto;
  max-width: 300px; }

.title {
  text-align: center; }

object:focus {
  outline: none; }

.inline {
  display: inline-block; }

.box {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 25px;
  border: 1px solid red; }

.btn1 {
  background: #6033db;
  background-image: -webkit-linear-gradient(top, #6033db, #892bb8);
  background-image: -moz-linear-gradient(top, #6033db, #892bb8);
  background-image: -ms-linear-gradient(top, #6033db, #892bb8);
  background-image: -o-linear-gradient(top, #6033db, #892bb8);
  background-image: linear-gradient(to bottom, #6033db, #892bb8);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 3px 2px 3px #080808;
  font-family: Arial;
  color: #ffffff;
  font-size: 60px;
  padding: 21px 30px 21px 28px;
  text-decoration: none; }

.btn2 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #aa34d9;
  padding: 5px;
  text-decoration: none;
  margin-top: 5px;
  width: 235px;
  opacity: .8; }

.btn3 {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #aa34d9;
  padding: 5px;
  text-decoration: none;
  opacity: .8; }

.btn2:hover {
  background: #633cfc;
  text-decoration: none; }

.btn3:hover {
  background: #633cfc;
  text-decoration: none; }

.btn:hover {
  background: #3cb0fd;
  text-decoration: none; }

a {
  text-decoration: none; }

.alert {
  position: fixed;
  width: 40%;
  padding: 10px;
  margin: auto;
  height: 75px;
  float: left;
  left: 450px;
  top: 250px; }

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #D4CECE;
  padding: 15px 50px;
  z-index: 1000;
  margin-top: 20px; }

.navBar {
  position: fixed;
  width: 100%;
  padding: 10px;
  margin: auto;
  height: 75px;
  color: white;
  background-color: #008080;
  float: left;
  left: 0px;
  top: 0px;
  z-index: 1000; }

.TCA {
  margin: 100px 0; }

.activityList {
  border-radius: 5px;
  border: 1px solid #2f4f4f;
  margin: 2px 0; }

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.avatarPic {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px; }

.activityPic {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px; }

.frame {
  box-shadow: 3px 3px 3px grey;
  border: 1px solid grey;
  border-radius: 3px; }

.item {
  margin: 15px;
  box-shadow: 10px 10px 5px grey;
  border: 1px solid grey; }

.logo {
  border: 1px dashed white;
  border-radius: 5px;
  width: 90px;
  height: 60px;
  margin: auto; }

.home-bg {
  background-image: url("../DataBase/images/homeBackground.jpg");
  opacity: .9;
  /*background-position: fixed ;*/
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 75px;
  left: 0; }

/*
    .pCLogin-bg{
    background-image: url("../DataBase/images/pCLoginBackground.jpg");
    opacity: .9;
    background-position: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 75px; 
    left: 0; 
    color: white;
    }*/
.exercisePic {
  width: 100%;
  height: 1000px;
  border: 1px solid #8b0000; }

.childProfile-bg {
  background-image: url("../DataBase/images/childProfileBackground.jpg");
  opacity: .9;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  position: absolute;
  top: 75px;
  left: 0; }

.childProfilePagePic {
  background-image: url("../DataBase/images/childProfilePic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 5px; }

.childLoginPic {
  background-image: url("../DataBase/images/childLoginPic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 5px; }

.childProfilePic {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ddd; }

@media (min-width: 320px) and (max-width: 568px) {
  body {
    background-color: orange; } }

/*@media (min-width: 568px) {
  #menu select, #menu button {
    display:none;
  }
}*/
/************************************************
adjust the background for parent Child login page
and parent profile page.
*************************************************/
.pCLogin-bg, .pProfile-bg {
  position: center;
  overflow: hidden;
  z-index: 1000; }

.pCLogin-bg h2, .pCLogin-bg h4, .btn1, .pProfile-bg h3, .btn2, .btn3 {
  position: relative;
  z-index: 10; }

.pCLogin-bg h2, .pProfile-bg h2 {
  font-family: 'Cinzel', serif;
  font-weight: bold; }

.image {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 90%;
  opacity: 0.6; }

/************************************************
adjust the background for add Child  page
*************************************************/
.newChild-bg {
  position: center;
  overflow: hidden;
  z-index: 1000; }

.newChild-bg .input-group, .newChild-bg .btn, .newChild-bg .avatarPic {
  position: relative;
  z-index: 10; }

.image {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 90%;
  opacity: 0.7; }

/***************************************************/
