<!-- navbar -->
<nav class="navbar navbar-inverse navBar ">
    <ul class=" nav navbar-nav navbar-left col-md-12">
        <li class="col-xs-2"> <img ng-src="./DataBase/images/logo.png" class="logo"></li>
        <li class="col-xs-1"><a ng-href="#!/parentProfile">Parent</a></li>
        <li class="col-xs-1.5"><a href="#!/childLogin">Child Login</a></li>
        <li class="col-xs-2 col-xs-offset-4">
            <h3 class="username ">{{user.pName}}</h3>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="panel panel-success col-xs-12 childBG">
        <img ng-src="{{pic}}" class="avatarPic pull-left col-xs-12 childBG">
        <h2 class=" col-xs-6 pull-right"> {{selectedChild.childName}}</h2>
    </div>
    <div class="col-xs-6 pull-left">
        <div ng-repeat="activity in activities">

            <div class=" panel-heading frame col-xs-5 item activityBG">
                <ul ng-if="activity.title == 'Reading'">
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i>
                </ul>
                <ul ng-if="activity.title == 'Drawing'">
                    <i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i>
                </ul>
                <ul ng-if="activity.title == 'Exercise'">
                    <i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>
                </ul>
                <p>{{activity.fileName}}</p>
                <p>{{activity.isCompleted ? "Completed" : " Not Completed"}}</p>
                <div class="panel-body container ">

                    <div ng-if="activity.title == 'Drawing'">
                        <a href="">
                            <img ng-src="{{activity.picture}}" class="activityPic" ng-click="goToPaintActivityPage(activity.childActivityId)">
                        </a>
                    </div>

                    <div ng-if="activity.title == 'Reading'|| activity.title == 'Exercise'">
                        <a href="">
                            <img ng-src="{{activity.picture}}" class="activityPic" ng-click="goTosingleChildActivityPage(activity.childActivityId)">
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="childProfilePagePic col-xs-6 pull-right"></div>
</div>
