<!-- navbar -->
<nav class="navbar navbar-inverse navBar ">
    <ul class=" nav navbar-nav navbar-left col-md-12">
        <li class="col-xs-2"> <img ng-src="./DataBase/images/logo.png" class="logo"></li>
        <li class="col-xs-1"><a ng-href="#!/parentProfile">Parent</a></li>
        <li class="col-xs-1.5"><a href="#!/childLogin">Child Login</a></li>
        <li class="col-xs-2 col-xs-offset-4">
            <h3 class="username ">{{user.pName}}</h3>
        </li>
    </ul>
</nav>
<!-- display all child data -->
<div class="container">
    <div class="col-xs-6 pull-left">
        <div class="panel panel-success col-xs-12">
            <img ng-src="{{pic}}" class="avatarPic pull-left col-xs-12">
            <h2 class=" col-xs-6 pull-right"> {{selectedChild.childName}}</h2>
        </div>
        <div ng-repeat="activity in activities">
            <div class=" panel-heading frame col-xs-5 item">
                <ul ng-if="activity.title == 'Reading'">
                    <i class="fa fa-book fa-lg" aria-hidden="true"></i>
                </ul>
                <ul ng-if="activity.title == 'Painting'">
                    <i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i>
                </ul>
                <ul ng-if="activity.title == 'Exercise'">
                    <i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>
                </ul>
                <!-- <p>{{activity.title}}</p> -->
                <p>{{activity.fileName}}</p>
                <p>{{activity.isCompleted ? "completed" : "not completed"}}</p>
                <div class="panel-body container ">
                    <a ng-href="#!/singleChildActivity/{{activity.childActivityId}}">
                        <img ng-src="{{activity.picture}}" class="activityPic">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="childProfilePagePic col-xs-6 pull-right"></div>
</div>
