<div class="homebg">
  
  <nav class="navbar navbar-inverse navBar">
      <ul class=" nav navbar-nav navbar-left">
        <li> <img ng-src="./DataBase/images/logo.png" class="logo"></li>
        <li><a ng-href="#!/auth" ng-click="loginUser()">Login</a></li>
        <li><a ng-href="#!/auth" ng-click="registerUser()">Register</a></li>
      </ul>
  </nav>


  <div class="input-group col-xs-4 col-xs-offset-4">
    <span class="input-group-addon"></span>
    <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
  </div>

  <div class="input-group col-xs-4 col-xs-offset-4">
    <span class="input-group-addon" ></span>
    <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
  </div>

  <div class="input-group col-xs-4 col-xs-offset-4">
    <span class="input-group-addon" ></span>
    <input type="text" class="form-control " placeholder="Username" ng-model="auth.pName">
  </div>
</div>
