<div class="aligner">
    <h1 class="username">{{user.pName}}</h1>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#!/logout">Logout</a></li>
            <li><a ng-href="#!/activityList">activities</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">child <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/newChild">Add Child</a></li>
                    <li><a href="#!/childList">Child List</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="input-group col-xs-6 col-xs-offset-3">
    <span class="input-group-addon" id="sizing-addon1"></span>
    <input type="text" class="form-control" placeholder="Childname" ng-model="newChild.childName">
</div>
<div class="input-group col-xs-6 col-xs-offset-3">
    <span class="input-group-addon " id="sizing-addon1"></span>
    <input type="text" class="form-control" placeholder="Age" ng-model="newChild.age">
</div>
<div class="input-group col-xs-6 col-xs-offset-3">
    <span class="input-group-addon" id="sizing-addon1" ng-click="displayAllPictures()"></span>
    <input type="text" class="form-control" placeholder="Picture" ng-model="newChild.pic">
</div>
<div class="containertext" ng-repeat="picture in allPictures">
    <a ng-href="#!/newChild" class="avatarPic" > <img ng-src="{{picture.path}}" class="avatarPic" ng-click="addProfilePicture(picture.id)"></a>
</div>
<div class="btn-group col-xs-4 col-xs-offset-5">
    <button type="button" class="btn btn-default" ng-click="addNewChild()" > Add New Child
    </button>
</div>
