<div class="aligner">
    <h1 class="username">{{user.pName}}</h1>
</div>
<nav class="col-md-10 col-xs-offset-1 navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#!/logout">Logout</a></li>
            <li><a ng-href="#!/activityList">activities</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">child <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/newChild">Add Child</a></li>
                    <li><a href="#!/childList">Child List</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
