<div class="homebg">
    <nav class="navbar navbar-inverse navBar ">
        <ul class=" nav navbar-nav navbar-left col-md-12">
            <li class="col-xs-1"> <img ng-src="./DataBase/images/logo.png" class="logo"></li>
            <li class="col-xs-1"><a ng-href="#!/logout">Logout</a></li>
            <li class="col-xs-2 col-xs-offset-7"><h3 class="username ">{{user.pName}}</h3></li>
        </ul>
    </nav>
    <div class="col-md-10 col-xs-offset-1">
        <div class="panel-heading box">
            <h2 class="center"> if you are a parent </h2>
            <br>
            <a ng-href="#!/parentProfile">
                <button type="button" class="btn:hover btn1" ng-href="#!/parentProfile">click here</button>
            </a>
        </div>
        <div class="panel-body box">
            <h2 class="center">if you are a child</h2>
            <br>
            <a ng-href="#!/childLogin">
                <button type="button" class="btn:hover btn1 " ng-href="#!/childLogin">click here</button>
            </a>
        </div>
    </div>
</div>
