<div class="aligner text-center">
    <h1 class="username  col-xs-offset-8">{{user.pName}}</h1>
</div>
<nav class="col-md-10 col-xs-offset-1 navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#!/logout">Logout</a></li>
        </ul>
    </div>
</nav>


<div class="col-md-10 col-xs-offset-1">
  	<div class="panel-heading box" ><h2> if you are a parent </h2><br>
  		<a ng-href="#!/parentProfile">
  			<button type="button" class="btn:hover btn btn-inline" ng-href="#!/parentProfile">click here</button>
  		</a>
  	</div>

  	<div class="panel-body box"><h2>if you are a child</h2><br>
  		<a ng-href="#!/childLogin">
			<button type="button" class="btn:hover btn btn-inline" ng-href="#!/childLogin">click here</button>
		</a>
	</div>
</div>
