<div class="aligner">
    <h1 class="username">{{user.pName}}</h1>
</div>
<nav class="col-md-10 col-xs-offset-1 navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
        <p>child name here</p>
        <li> <h4 >{{selectedChild.childName}}</h4> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#!/parentProfile">Parent</a></li>
            <li><a ng-href="#!/childLogin">Logout</a></li>
        </ul>
    </div>
</nav>

<div>
    <div>
        <h5> {{activity.fileName}}</h5>
        <object data="{{activity.filePath}}" type="application/pdf" width="1000" height="1200"">
        </object>
    </div>
</div>

<div class="col-xs-1">
    <label> Done</label>
        <a ng-href="#!/childProfile/{{childActivity.childId}}"> 
            <input type="checkbox" name="isCompleted" ng-checked="childActivity.isCompleted" ng-change="completedChange(childActivity)" ng-model="childActivity.isCompleted"/>
        </a>
</div>